# ======================
# APPLICATION
# ======================
NODE_ENV=
API_PORT=8000
API_PREFIX=api

# ======================
# DATABASE
# ======================
TYPEORM_HOST=
TYPEORM_PORT=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=

# ======================
# JWT
# ======================
JWT_SECRET=
JWT_EXPIRES_IN=
TOKEN_TYPE=Bearer